
body{
  background: url(https://farm8.staticflickr.com/7525/15771128486_8df1ed078b_o.png);

}


#main{
    height:900px;
    margin-top: 50px;
    position: relative;

}

#main h1{
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
}

#main h3{
  text-align: center;
  color: white;
}

#main .well{
  max-width: 400px;
  margin: 0 auto;
}

.logo-title {
        background: url(/assets/img/rbh_opening.png);
        display: flex;
        align-items: center;
        justify-content: center;
}

.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #D6263C;
        text-shadow: 0px 2px 8px rgba(0,0,0,0.50);
}

.logo-sponsors .thumbnail{
    border:none;
    
}

.panel-group {
        margin-top: 50px;
}

.subtitle {
        margin-top: 20px;
        text-align: center;
        font-size: 80px;
}


#sponsors {
        background-color: white;
}


.red_background {
        background-color: #C92A2A;
}

.whitetext {
        color: white;
}

/*
section{
  height:900px;
  border: 2px dashed red;

  margin-bottom: 0;
}
*/

.logo-image {
        padding: 70px;
        width: 50%;
        height: 100%;
}

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    color: white;
    font-size: 16px
}

span {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}

br {
    clear: both;
}
#schedule{
        padding-bottom: 250px;
}
.schedule-text {
        margin: auto;
        width: 60%;
}

.col-box {
        padding-top: 50px;
}

.brand {
        height: 40px;
        padding-top: 5px;
}



