body{
  background: url(https://farm8.staticflickr.com/7525/15771128486_8df1ed078b_o.png);
  font-family: 'Special Elite', cursive;
}


#main{
    margin-top: 50px;
    position: relative;

}

#main h1{
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
}

#main h3{
  text-align: center;
}

#main .well{
  max-width: 400px;
  margin: 0 auto;


}

section{
  height:900px;
  border: 2px dashed red;

  margin-bottom: 0;
}
